{% extends 'rota/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact us
{% endblock %}

{% block body_block %}

<div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-left">
                    <h3 class="mb-5 text-center">Contact us</h3>
                    <p class = "text-left"> If you would like to get in touch with us please send an email to one of the maintainers: </p>
                    <p class = "text-left"><b>Lukas Moers</b>  - 2506458m@student.gla.ac.uk</p>
                    <p class = "text-left"><b>Zander Moncrieff</b> - 2555900m@student.gla.ac.uk</p></br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}